@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,500&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(135deg, #96c9cf, #8a68c0);
}


body::-webkit-scrollbar{
  width: 0.25rem;
}
body::-webkit-scrollbar-track{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #6649b8;
}
.nav_logo{
  width: 80px;
  object-fit: contain;
}
.nav_avatar{
  width: 30px;
  object-fit: contain;
}
.nav{
  position:fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black{
  background-color: #111;
}

/* .bigcontainer{
  height: 700px;
  width: 98%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 2rem;
  background: linear-gradient(135deg, #66ACB4, #491f8f)
}
.text{
  
  max-width: 100%;
  padding: 0 10px;
}
.flextext{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.text h1{
  color: #df6158;
  font-size: 80px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
 */
button{
  
  background-color: #df6158;
  color: black;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
}
button:hover{
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #df6158;
  color: #df6158;
  transition: .4s;
  cursor: pointer;
}

.container{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-row-gap: 50px;
  
}
.container .card{
  display: grid;
  position: relative;
  width: 320px;
  height: 500px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  grid-row-gap: 100;
}

.container .card:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #df6158;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
  clip-path: circle(300px, at 80% 70%);
}
.container .card:after{
  content: "TRI RECORD";
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 10rem;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);  
  
}
.container .card .ptimg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
  
}
.container .card .ptimg img{
  border-radius: 25%;
}
.container .card:hover .ptimg{
  top: 0%;
  transform: translateY(0%);
}
.container .card .ptimg img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 200px;
}
.container .card .ptcontent{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .ptcontent{
  height: 210px;
}
.container .card .ptcontent h2{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.container .card .ptcontent .artist,
.container .card .ptcontent .price
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  visibility: hidden;
}
.container .card:hover .ptcontent .artist{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.container .card:hover .ptcontent .price{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.container .card .ptcontent .artist h3,
.container .card .ptcontent .price h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-decoration: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .ptcontent .artist span{
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background:#fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 50;
}
.container .card .ptcontent .artist span:hover,
.container .card .ptcontent .price span:hover{
  background: #9bdc28;
}
.container .card .ptcontent .price span{
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background:#fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 50;
}
.container .card .ptcontent a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .card:hover .ptcontent a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}


